header{
  background-color: black;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 1rem;
                gap:2rem;
                &:hover{
                    color:white;
                }
            }
        }
    }
}