.about{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    h1{
        color: blue;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    p{
        color: green;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
}