nav{
    background-color: green;
    display: flex;
    .navbar{
        ul li{
          
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
        }
}
