
.products {
    padding: 20px;
  }
  
  .loading {
    text-align: center;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .search-bar {
    background-color: lightyellow; 
    padding: 20px;
    
  }
  