.aboutMe {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
  }
  
  .aboutMeContent {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .profileImage {
    width: 400px;
    height: 390px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  .aboutMeText {
    max-width: 60%;
  }
  
  .aboutMe h2 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .aboutMe p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
  }
  